@font-face {
    font-family: 'Roboto';
    src: url(Fontes\Roboto-Regular.ttf);
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('..Fontes/OpenSans-Regular.woff2') format('woff2'),
    url('../Fontes/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url(Fontes\open-sans.italic.ttf);
}