*{
  margin: 0px;
  padding: 0px;
}

header{
  position: fixed;
  height: 80px;
  width:100%;
}

#cabecalho {
  background-color: #021E30;
  height: 80px;
  padding: 20px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

li {
  
}



.logo img,
.div-conteudo-contato>div>img {
  max-width: auto;
  height: 120px;
}

/*Inicio Pedro*/

#Apresentacao {
  height: 500px;
  padding:0px;
  padding-top:0px;
  margin-top: 0px;

  h1 {
    width: 600px;
    font-size: 48px;
    text-align: justify;
    color:white;
    text-shadow: 2px 2px rgba(16, 16, 13, 0.700);
    font-family: Roboto;
  }

  /*p {
    font-size: 36px;
    margin-left: 40px;
    margin-right: 40px;
    width: 1hw;
    text-align: justify;
    text-indent: 36px;
  }*/

  /*img {
    filter: blur(8px);
    max-height: 400px;
    position: relative;
    max-width: 1080px;
    margin: auto;
    display: block;

  }*/
}

.divApresenta {
  width:98.85vw;
  background-image: url(../Imagens/Banner\ do\ site.png);
  background-size:cover;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;

}

#spaceText {
  height: 400px;
  width: 600px;
  padding-top: 5vh;
  padding-right: 16px;
  margin-left: 50vw;
  margin-right: 30px;
}

/*#imgApresenta {
  width: 1600px;
  height: 400px;
}

.textDivApresenta {
  position: absolute;
  top: 0;
  left: 0;
}*/

/* Início Serviços (Bernardo) */

.servicos {
  display: flex;
}

.div-servicos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div-titulo-servicos {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 5vh;
}

.div-conteudo-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.linha-1-servicos,
.linha-2-servicos {
  display: flex;
  gap: 10em;
  margin: 3em;
}

.linha-1-servicos>div,
.linha-2-servicos>div {
  width: 60%;
  text-align: center;
  padding: 1.5em;
  border: 0.5px solid #CACACA;
  border-radius: 1em;
  transition: all 500ms;
}

.linha-1-servicos>div:hover,
.linha-2-servicos>div:hover {
  padding: 2em;
  border: 0.5px solid #fa8200;
  transition: 500ms;
}

.imgServ{
  width: 50%;
  margin-bottom: 5vh;
}

.linha-1-servicos>div>p,
.linha-2-servicos>div>p {
  font-size: 20px;
  text-indent: 15px;
  text-align: justify;
}


/* Fim Serviços (Bernardo) */

/*.carrossel1, .carrossel2, .carrossel3 {
    margin-top: 15px;
  max-width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    margin-bottom: 15px;
    width: 200px;
    max-width: 200px;

}*/


/* Position the "next button" to the right */
/*.antCliente,
.proxCliente {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: 170px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.proxCliente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.antCliente:hover,
.proxCliente:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#Clientes {
  display: flex;
  flex-direction: row;
}*/

/*Fim Pedro*/

/* Início Contatos (Bernardo) */

.contato {
  display: flex;
  padding-bottom: 10vh;
  padding-top: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #021E30;
  
}

.div-titulo-contato {
  margin-bottom: 5vh;
}

.div-titulo-contato>h1{
  font-size: 40px;
  color: white;
}

.div-conteudo-contato {
 display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.div-contato-redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 5vh;

}

.div-contato-redes-sociais>a {
  padding: 10px;
  background-color: #00abe3;
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

.div-contato-redes-sociais>a:hover {
  background-color: #86c5da;
  transition: 300ms;
}

/* Fim Contatos (Bernardo) */