body {
  margin: 0;
  padding: 0;
}

#cabecalho {
  background-color: #0b1825;
  height: 120px;
  padding: 20px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

h2 {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 0px;
  padding-top: 43px;
  margin-bottom: 0px;

}

.logo img,
.div-conteudo-contato>div>img {
  max-width: auto;
  height: 120px;
}

/*Inicio Pedro*/

#Apresentacao {
  height: 400px;

  h1 {
    font-size: 48px;
    border-left: 3px solid #999999;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
  }

  p {
    font-size: 36px;
    margin-left: 40px;
    margin-right: 40px;
    width: 1hw;
    text-align: justify;
    text-indent: 36px;
  }

  img {
    filter: blur(8px);
    max-height: 400px;
    position: relative;
    max-width: 1080px;
    margin: auto;
    display: block;

  }
}

.divApresenta {
  height: 400px;
  position: relative;
}

#spaceText {
  padding-right: 16px;
}

#imgApresenta {
  width: 1600px;
  height: 400px;
}

.textDivApresenta {
  position: absolute;
  top: 0;
  left: 0;
}

/* Início Serviços (Bernardo) */

.servicos {
  display: flex;
}

.div-servicos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div-titulo-servicos {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.div-conteudo-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.linha-1-servicos,
.linha-2-servicos {
  display: flex;
  gap: 10em;
  margin: 3em;
}

.linha-1-servicos>div,
.linha-2-servicos>div {
  width: 60%;
  padding: 1.5em;
  border: 0.5px solid #CACACA;
  border-radius: 1em;
  transition: all 500ms;
}

.linha-1-servicos>div:hover,
.linha-2-servicos>div:hover {
  padding: 2em;
  border: 0.5px solid #fa8200;
  transition: 500ms;
}

.linha-1-servicos>div>h2,
.linha-2-servicos>div>h2 {
  padding: 0.5em;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.linha-1-servicos>div>p,
.linha-2-servicos>div>p {
  font-size: 15px;
  text-indent: 15px;
  text-align: justify;
}


/* Fim Serviços (Bernardo) */

.carrossel1,
.carrossel2,
.carrossel3 {
  margin-top: 15px;
  max-width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    margin-bottom: 15px;
    width: 200px;
    max-width: 200px;

  }
}


/* Position the "next button" to the right */
.antCliente,
.proxCliente {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: 170px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.proxCliente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.antCliente:hover,
.proxCliente:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#Clientes {
  display: flex;
  flex-direction: row;
}

/*Fim Pedro*/

/* Início Contatos (Bernardo) */

.contato {
  display: flex;
  margin: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-titulo-contato {
  margin-bottom: 2vh;
  font-size: 30px;
}

.div-conteudo-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.div-contato-redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 5vh;

}

.div-contato-redes-sociais>a {
  padding: 10px;
  background-color: #00abe3;
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

.div-contato-redes-sociais>a:hover {
  background-color: #86c5da;
  transition: 300ms;
}

/* Fim Contatos (Bernardo) */